[core]
    logallrefupdates = true
[init]
    defaultBranch = main
[user]
    email = 35614267+aljazmedic@users.noreply.github.com	
    name = Aljaž Medič
[alias]
    hist = log --pretty=format:'%C(yellow)%h%Creset%C(auto)%d - %s %Cblue[%an]' --graph --date=short --decorate --branches --remotes --tags
[include]
    path = ~/.gitconfig.local
